<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PRUEBA TECNICA JUAN CARLOS BENITEZ REYES</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
  </head>
  <body>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">REGISTRO DE PRODUCTO</a>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                            <form action="/update/<%= data.id %>" method="POST" onsubmit="return validar()">
                                <div class="form-group">
                                  <input type="text" id="nombre" onkeypress="return soloLetras(event)" name="nombre" value="<%= data.nombre %>"  class="form-control" autofocus>
                                </div>
                                <div class="form-group">
                                  <input type="text" id="descripcion" onkeypress="return soloLetras(event)" name="descripcion" value="<%= data.descripcion %>"  class="form-control">
                                </div>
                                <div class="form-group">
                                  <input type="text" id="preciocompra" name="preciocompra" value="<%= data.preciocompra %>"  class="form-control">
                                </div>
                                <div class="form-group">
                                  <input type="text" id="precioventa"  name="precioventa" value="<%= data.precioventa %>"  class="form-control">
                                </div>
                                <div class="form-group">
                                  <input type="text" id="stock" name="stock" value="<%= data.stock %>"  class="form-control">
                                </div>                      
                                <button type="submit" class="btn btn-primary">
                                  ACTUALIZAR
                                </button> 
                                <button onClick="javascript:genPDF()" class="btn btn-warning" >Descargar PDF</button>
                                    
                                 
                                <button href="personas.ejs" class="btn btn-danger">
                                        CANCELAR
                                      </button>                              
                              </form>
                              
                    </div>
                   
                </div>

            </div>

        </div>

    </div>
    

    <script>
            function genPDF() {
                alert('PDF GENERADO CORRECTAMENTE -- JUAN CARLOS BENITEZ REYES');
             var nom = document.getElementById("nombre").value;
             var apellidoP = document.getElementById("descripcion").value;
             var apellidoM = document.getElementById("preciocompra").value;
             var ocup = document.getElementById("precioventa").value;
             var em = document.getElementById("stock").value;	
               
                var doc= new jsPDF();
                doc.setFontSize(15);
                doc.text(25, 20, 'REPORTE GENERADO DESDE BD POR JUAN CARLOS BENITEZ REYES');
                doc.setFontSize(15);
                doc.text(15, 65, 'DATOS DEL PRODUCTO:');
              
                
    var columns = ["Nombre", "Descripcion", "Precio Compra", "Precio Venta", "Cantidad en Inventario"];
      var data = [
          [nom, apellidoP, apellidoM, ocup, em]
         
      ];
    
      doc.autoTable(columns,data,
        { margin:{ top: 75  }}
      );              
    
                doc.save('Datos '+nom+'.pdf');
            }
            </script>

    <script>
            function soloLetras(e){
               key = e.keyCode || e.which;
               tecla = String.fromCharCode(key).toLowerCase();
               letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
               especiales = "8-37-39-46";
        
               tecla_especial = false
               for(var i in especiales){
                    if(key == especiales[i]){
                        tecla_especial = true;
                        break;
                    }
                }
                if(letras.indexOf(tecla)==-1 && !tecla_especial){
                    return false;
                }
            }
    </script>

    <script>
         function validar() {
   //obteniendo el valor que se puso en el campo text del formulario
      var miCampoTexto1 = document.getElementById("nombre").value;
          var miCampoTexto2 = document.getElementById("descripcion").value;
          var miCampoTexto3 = document.getElementById("preciocompra").value;
          var miCampoTexto4 = document.getElementById("precioventa").value;
          var miCampoTexto5 = document.getElementById("stock").value;
          if(miCampoTexto1.length == 0 || /^\s+$/.test(miCampoTexto1)){
              alert('HAY CAMPOS VACIOS!');
              return false;
          }
          if(miCampoTexto2.length == 0 || /^\s+$/.test(miCampoTexto2)){
              alert('HAY CAMPOS VACIOS!');
              return false;
          }
          if(miCampoTexto3.length == 0 || /^\s+$/.test(miCampoTexto3)){
              alert('HAY CAMPOS VACIOS!');
              return false;
          }
          if(miCampoTexto4.length == 0 || /^\s+$/.test(miCampoTexto4)){
              alert('HAY CAMPOS VACIOS!');
              return false;
          }
          if(miCampoTexto5.length == 0 || /^\s+$/.test(miCampoTexto5)){
              alert('HAY CAMPOS VACIOS!');
              return false;
          }
  
   return true;
   }
    </script>



</body>
</html>